.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 50% !important;
    margin: 0 auto;
}
@media(max-width: 450px){
    .menu{
        width: 90% !important;
    }
}