.reservaciones{
    width: 70%;
    margin: 30px auto;

}
.reservaciones h2{
    font-size: 32px !important;
    font-family: Arango !important ;
    text-align: center;
}
@media (max-width: 425px) {
    .reservaciones{
        margin: 30px auto;
    }
}