
.formulario{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
}
.btn_send{
    background-color: #222222;
    border:none;
    width: 25%;
    margin-left: 37.5%;
    height: 40px;
    color:#cccccc;
    font-family: Arango !important ;
    letter-spacing: 3px;
    cursor: pointer;
}
@media(max-width:768px){
    .formulario{
        width: 80%;
        margin-left: 10%;
    }
}

@media(max-width:435px){
    .formulario{
        width: 80%;
        margin-left: 10%;
        box-sizing: border-box;

    }
    .sect{
        padding-left: 5%;
        width: 90%;
    }
    .btn_send{
        width: 50%;
        margin-left: 25%;
    }
}