.formulario{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
}

@media(max-width:768px){
    .formulario{
        width: 80%;
        margin-left: 10%;
    }
}

@media(max-width:435px){
    .formulario{
        width: 80%;
        margin-left: 10%;
        box-sizing: border-box;

    }
    .sect{
        padding-left: 5%;
        width: 90%;
    }
}