.language{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/3.JPG');
    background-position: center;
    background-size: cover;
    position: fixed;
}
.welcome{
    color:white;
    width: 100%;
    height: 200px;
    position: fixed;
    text-align: center;
    margin-top: 70px;
}
.cubierta{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,.6);
}
.float{
    font-family: Arango !important;
    font-size: 48px;
    color:white;
}
.es{
    width: 50%;
    height: 100%;

    transition: all 1s ease;
    color:white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
}
.en{
    width: 50%;
    height: 100%;
    transition: all 1s ease;
    color:white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
}
.es hr, .en hr{
    width: 0%;
    margin: 0 auto;
    transition: all 1s ease;
    height: 2px;
    border: none;
    background-color: white;
    border-radius: 1px;

}

.es:hover, .en:hover{
    font-size: 4rem;
    cursor: pointer;
}

.es:hover hr, .en:hover hr{
    width: 100%;
}

@media(max-width: 435px){
    .es, .en{
        width: 100%;
        height: 30%;
        font-size: 2rem;
    }
    .es{
        margin-top: 40%;
    }
    .float{
        font-size: 32px;

    }
    .welcome{
        margin-top: 50px;
    }
}