.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 50% !important;
    margin: 0 auto;
}
.display{
    display: none;
}
.food{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.food p{
    margin-top: 0;
}
.nn{
    display: none;
}
@media(max-width: 450px){
    .menu{
        width: 90% !important;
    }
    .display{
        display: inherit;
    }
    .nn{
        display: inherit;
    }
    .n{
        display: none;
    }

}